@import "reset.css";
@import "typo.css";
@import "@fontsource-variable/inter";

@font-face {
  font-family: "Quattro";
  src: url("/fonts/iAWriterQuattroV.ttf");
}

@font-face {
  font-family: "Quattro";
  font-style: italic;
  src: url("/fonts/iAWriterQuattroV-Italic.ttf");
}

body {
  --content-max-width: 60rem;
  --transition-defaults: 200ms ease-out;

  --rounding-small: 0.4rem;
  --rounding-medium: 0.6rem;
  --rounding-full: 999px;

  --color-accent: rgb(57, 90, 167);
  --color-accent-rgb: 57, 90, 167;
  --color-link: var(--color-text);

  --color-text: rgb(94, 94, 92);
  --color-text-rgb: 94, 94, 92;

  --color-bg: rgb(241, 241, 238);
  --color-bg-rgb: 241, 241, 238;

  --font-titles: "Inter Variable", sans-serif;
  font-family: "Quattro", sans-serif;
  background-color: var(--color-bg);
  color: var(--color-text);
  overflow: hidden;

  outline: 2px solid rgba(var(--color-text-rgb), 0.15);
  outline-offset: -15px;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  align-content: center;
  max-width: var(--content-max-width);
  margin: auto;
  padding: 3rem 0;
  pointer-events: none;
}

@media (min-width: 70rem) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.intro {
  display: flex;
  padding: 1.5rem;
  margin-top: -8rem;
  transform: translateX(-4rem);
  max-width: 26rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  pointer-events: auto;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: var(--color-bg);
  paint-order: stroke fill;

  h3 {
    margin-top: 1rem;
  }
  ul {
    margin-top: -0.5rem;
  }

  @media (max-width: 70rem) {
    transform: translateX(-6rem);
    margin-top: 0;
  }

  @media (max-width: 40rem) {
    transform: translateX(0) !important;
  }
}

.effect-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  transform: translate(15%, -5%);

  @media (max-width: 70rem) {
    transform: translateX(15%) translateY(10%);
  }
}

main {
  padding: 0 1rem;
  @media (max-width: 70rem) {
    background-color: rgba(var(--color-bg-rgb), 0.6);
  }
}
